@import "variables";
@import "mixins";

/*
Element alignment

Styleguide 1
*/

/*
Paragraph alignment

A simple example for paragraph text alignment
## Hint
```
The comments section provides support for any markdown so that you can format your documentation
```

.text-left      - Left align text
.text-center     - Center align text
.text-right     - Align text right

Markup: <p class="{$modifiers}">Lorem ipsum dolor sit amet.</p>

Styleguide 1.1
*/

.text-left {
  text-align: left;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}
