@import "variables";
@import "mixins";

/*
Navigation

Styleguide 2
*/

/*
Navigation example

A collection of helper classes that might be useful to be used throughout the application

.nav-horizontal - Horizontal navigation

Markup:
<nav class="{$modifiers}">
<ul>
<li><a href="#">Products</a></li>
<li><a href="#">Add</a></li>
<li><a href="#">Profile</a></li>
<li><a href="#">Help</a></li>
<li><a href="#">Logout</a></li>
</ul>
<nav>

Styleguide 2.1
*/

nav {
  background-color: $gray;
  font-size: 0;
  &.fixed {
    top:0;
    z-index: 2;
  }
  ul {
    margin: 0;
    padding: 0;
    li {
      display: inline-block;
      width: 100%;
      font-size: $base-font-size;
        a, a:visited{
          font-family: Arial;
          font-size: $menu-text;
          color: $white;
          text-decoration: none;
          display: block;
          padding: 1em 1.5em;
          &:hover{
            background-color:$black;
            color: $white;
          }
        }
      }
    }
}

.nav-horizontal {
  ul {
    li {
      width: 100%;
      a {
        text-align: center;
      }
    }
  }
}

.nav-icons {
  ul {
    li {
      width: auto;
      border-right: 1px solid $menu-line;
    }
  }
}
