/* colours */
/* font sizes*/
/* spacing */
/* form defaults */
/* Bootstrap Overrides  */
/* Bootstrap Overrides  */
/*
Element alignmet

Styleguide 1
*/
/*
Helper classes

A collection of helper classes that might be useful to be used throughout the application
## Hint
```
The comments section provides support for any markdown so that you can format your documentation
```

.align-left     - Left align the element
.align-center       - Center aligh the element
.align-right      - Align element to the right
.align-text-left      - Left aluign text
.align-text-center     - Center align text
.align-text-right     - Align text right

Markup: <div class="{$modifiers}">Lorem ipsum dolor sit amet.</div>

Styleguide 1.1
*/
.align-left {
  float: left;
}

.align-center {
  margin: 0 auto;
  display: block;
}

.align-right {
  float: right;
}

.align-text-left {
  text-align: left;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

/* colours */
/* font sizes*/
/* spacing */
/* form defaults */
/* Bootstrap Overrides  */
/* Bootstrap Overrides  */
/*
Navigation

Styleguide 2
*/
/*
Navigation example

A collection of helper classes that might be useful to be used throughout the application

.mee-nav-horizontal - Horizontal navigation

Markup:
<nav class="{$modifiers}">
<ul>
<li><a href="#">Products</a></li>
<li><a href="#">Add</a></li>
<li><a href="#">Profile</a></li>
<li><a href="#">Help</a></li>
<li><a href="#">Logout</a></li>
</ul>
<nav>

Styleguide 2.1
*/
nav {
  background-color: #512d62;
  font-size: 0;
}
nav.mee-fixed {
  top: 0;
  z-index: 2;
}
nav ul {
  margin: 0;
  padding: 0;
}
nav ul li {
  display: inline-block;
  width: 100%;
  font-size: 16px;
}
nav ul li a, nav ul li a:visited {
  font-family: "Lato";
  font-size: 0.875em;
  color: white;
  text-decoration: none;
  display: inline-block;
  width: 100%;
  padding: 1em 1.5em;
  box-sizing: border-box;
  -ms-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}
nav ul li a:hover, nav ul li a:visited:hover {
  background-color: #73cf30;
  color: black;
}

.mee-nav-horizontal ul li {
  width: 100%;
}
.mee-nav-horizontal ul li a {
  text-align: center;
}

.mee-nav-icons ul li {
  width: auto;
  border-right: 1px solid #290b37;
}

#kss-nav {
  background-color: #512d62;
}

#kss-nav nav > ul {
  margin: 0;
}
